@import "fonts";

textarea {
  width: 100%;
  height: 20vh;
  font-family: inherit;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  resize: none;
  margin: 15px 0;
}

.btn_comments {
  background-color: #4caf50;
  color: white;
  font-family: $font-main;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 12px;
}

.comment_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .comment_text {
    margin-top: 8px;

    span {
      margin-left: 2px;
    }
  }

  .icons_container {
    display: flex;
    gap: 7px;
    cursor: pointer;
  }
}

.edit_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  input {
  @extend textarea;
    height: 30px;
  }

  .btn_edit {
    @extend .btn_comments;
    padding: 5px 10px;
    margin-right: 8px;
  }
}


